<div class="about-main" align="center">
  <h2>What is EasyShare?</h2>
  <p>
    Do you have something stored for a long time?<br>
    EasyShare connects your unused item to someone else's.<br>
    You can use posted items with your stored items.<br>
    If you post your items, you will have more chances you can use free!<br>
  </p>
  <img class="about-img" src="/gift.jpg">
  <br>
  <br>
  <br>
  <h2>How to use?</h2>
  <p>
    It's easy!<br>
    Just post what you can share.<br>
    And exchange messages with other users.<br>
  </p>
  <img class="about-img" src="/postexample.jpg">
  <br>
  <img class="about-img" src="/commentexample.jpg">
</div>
